.vscode/*
Wuerfel/*
Wuerfel.zip
Simulation_Umstroemung_eines_Wuerfels/*
Simulation_Umstroemung_eines_Wuerfels.zip
out/*
build/*
*.svg
out.perf
perf.data
perf.data.old
out.folded
.cache/*
Simulation_Umstroemung_eines_Wuerfels (2).zip
